@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: 39 222 191;
	--color-background: 28 31 36;
	--color-text: 227 224 219;
}

:root[class~="dark"] {
	--color-primary: 39 222 191;
	--color-background: 227 227 227;
	--color-text: 28 31 36;
}

.t-unset {
	top: unset;
}
/* body {
	cursor: none;
}

.custom-cursor {
	position: fixed;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	pointer-events: none;
	z-index: 9999;
	mix-blend-mode: difference;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}
.cursor-text {
	font-size: 5px;
	font-weight: 900;
	letter-spacing: 1px;
}
a {
	color: inherit;
	text-decoration: none;
	cursor: none;
} */

.stroked {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
}

#menu-toggle-btn {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
	position: relative;
	cursor: pointer;
	transition: all 0.3s;
	z-index: 10000;
}

.active .test {
	transform: rotate(45deg);
	background: #e3e3e3;
}

.active .test::before {
	top: unset;
	transform: rotate(-90deg);
	background: #e3e3e3;
}

.active:hover .test::before {
	top: unset;
}

/*  */

#nav-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	/* background-color: var(--color-text);
	color: var(--color-background); */
	transition: all 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

.nav {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.flexx {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.nav-logo {
	font-weight: 300;
	margin-top: -0.2em;
	text-transform: uppercase;
	font-size: 120px;
}

.nav-link {
	position: relative;
}

.nav-link a {
	position: relative;
	top: 60px;
	text-decoration: none;
	color: #e3e0db;
	font-size: 50px;
	font-weight: normal;
}

.nav-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 2em 1em;
	display: flex;
	justify-content: space-between;
}

.nav-footer a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	padding: 0 1em;
}
